.displayed {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 20px;
  padding: 2rem;
  gap: 1.2rem;
  width: 35rem;
  height: 30rem;
  align-items: center;
}

.animation {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 20px;
  padding: 2rem;
  gap: 1.2rem;
  width: 35rem;
  height: 30rem;
  align-items: center;
  animation: popup 1s;
}

@keyframes popup {
  0% {
    box-shadow: 0 5px 15px 0px rgb(255, 142, 37, 0.6);
    transform: translatey(-10px);
    opacity: 10%;
  }
  50% {
    box-shadow: 0 25px 15px 0px rgb(255, 142, 37, 0.2);
    transform: translatey(-40px);
    opacity: 60%;
  }
  100% {
    box-shadow: 0 5px 15px 0px rgb(255, 142, 37, 0.6);
    transform: translatey(0px);
    opacity: 100%;
  }
}
.top {
  display: flex;
  gap: 1.5rem;
  border-bottom: 2px solid #ff8e25;
  padding: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ff8e25;
  text-align: left;
}

.icon {
  width: 3rem;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5rem;
}

@media (max-width: 950px) {
  .displayed {
    border-radius: 20px;
    padding: 2rem;
    gap: 1.2rem;
    width: 29rem;
  }

  .animation {
    padding: 2rem;
    gap: 1.2rem;
    width: 29rem;
    animation: popup 1s;
  }

  @keyframes popup {
    0% {
      box-shadow: 0 5px 15px 0px rgb(255, 142, 37, 0.6);
      transform: translatey(-10px);
      opacity: 10%;
    }
    50% {
      box-shadow: 0 25px 15px 0px rgb(255, 142, 37, 0.2);
      transform: translatey(-20px);
      opacity: 60%;
    }
    100% {
      box-shadow: 0 5px 15px 0px rgb(255, 142, 37, 0.6);
      transform: translatey(0px);
      opacity: 100%;
    }
  }

  .title {
    font-size: 1.7rem;
  }

  .icon {
    width: 2.5rem;
  }

  .description {
    font-size: 1.3rem;
    line-height: 1.7;
    padding: 0.5rem;
  }
}
