.container {
  margin-bottom: 1rem;
  padding: 1rem;
}
.services {
  padding: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: end;
  margin-right: 6rem;
  font-size: 3rem;
}
.flex-services {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 950px) {
  .services {
    gap: 2rem;
  }

  .title {
    margin-right: 0rem;
    font-size: 2.5rem;
    text-align: left;
  }
}
