.displayed {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 20px;
  padding: 2.5rem;
  gap: 1.2rem;
  width: 35rem;
  height: 30rem;
  align-items: center;
}

.animation {
  animation: popup 0.7s;
}

@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.top {
  display: flex;
  gap: 1.5rem;
  border-bottom: 2px solid #ff8e25;
  padding: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ff8e25;
  text-align: left;
}

.icon {
  width: 3rem;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5rem;
}

.contact {
  background-color: #ff8e25;
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
