.container {
  border: 1px solid #ff8e25;
  border-radius: 10px;
  box-shadow: 0 2px 15px 0px rgb(255, 142, 37, 0.2);
  padding: 2.5rem;
}

.name {
  font-size: 1.5rem;
  color: #ff8e25;
  font-weight: bolder;
}

.review {
  font-size: 1.3rem;
  line-height: 1.5;
}
