.button {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  background-color: #ff8e25;
  padding: 0.8rem;
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;
  text-align: center;
  transition: 0.1s;
}

.button:hover {
  background-color: #f97900;
  color: white;
  transition: 0.3s;
  border: 3px solid white;
  letter-spacing: 1.5px;
}
