.hero {
  display: flex;
  gap: 4rem;
  padding: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  height: fit-content;
}

h1 {
  font-size: 4rem;
  border-bottom: #ff8e25 3px solid;
  padding-bottom: 1.5rem;
}

h1 span {
  color: #ff8e25;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.img {
  width: 44rem;
  margin-top: -5rem;
  margin-right: -3rem;

  /* opacity: 70%; */
}

@media (max-width: 950px) {
  .hero {
    display: flex;
    gap: 2rem;
    padding: 3rem;
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 2.5rem;
    border-bottom: #ff8e25 3px solid;
    padding-bottom: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .img {
    width: 24rem;
    margin-bottom: -4rem;
  }
}
