.container {
  display: flex;
  border: 3px solid #ff8e25;
  border-radius: 20px;
  padding: 1.5rem;
  gap: 1.2rem;
  width: 22rem;
  height: 7rem;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.container:hover {
  border: 5px solid white;
  border-radius: 100px;
  box-shadow: 0 5px 15px 0px rgb(255, 142, 37, 0.5);

  transition: 0.5s;
}

.icon {
  width: 2.4rem;
}

.service-type {
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 950px) {
  .container {
    gap: 1.2rem;
    width: 17rem;
    height: 6rem;
  }

  .service-type {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
