.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem;
}

.links {
  display: flex;
  gap: 5rem;
}
.img {
  width: 5rem;
}

.contact {
  background-color: #ff8e25;
  padding: 0.8rem;
  border-radius: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ff8e25;
  transform: translateY(-0.5rem);
  transition: 0.5s;
}
