.flex-container {
  display: flex;
  gap: 5rem;
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 3.2rem;
}

.areas {
  margin-top: 2rem;
  text-align: center;
}

.title,
.areas {
  margin-right: 2.5rem;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 950px) {
  .flex-container {
    gap: 2rem;
    padding: 1.5rem;
  }

  .title {
    text-align: center;
    font-size: 2.5rem;
  }

  .title,
  .areas {
    margin-right: 0rem;
  }
}
