.container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  border-bottom: 2px solid #ff8e25;
  border-radius: 20px;
  padding: 1.5rem;
  width: 550px;
}

.icon {
  width: 3rem;
  text-align: center;
}

.info {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
}
