.container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  text-decoration: none;
  padding: 1.5rem;

  transition: 0.3s;
}

.container:hover {
  cursor: pointer;
  border-bottom: 3px solid #ff8e25;
  border-radius: 20px;
  transition: 0.3s;
}

.icon {
  width: 3rem;
  text-align: center;
}

.info {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bolder;
}
