* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90deg, rgba(31, 29, 29, 1), #1f1d1d);
  overflow: hidden;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
}
